API_ID= 20064905
API_HASH= 1d7b8bc02a512bfbf2014bd7d5b7eff2
BOT_TOKEN= 7328867796:AAGsdKH9eZ8wkcqiPm9G-fYEz2mFqtqMy6g
LOGGER_ID= -1002136795173
MONGO_DB_URI= mongodb+srv://Vicky123:Vicky123@cluster0.qznmdso.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
OWNER_ID= 5711923161
STRING_SESSION= BQEyKokAjIBi-Lrx69SO5CFbokPVDlsgs8zPb3qWc0t7sFh_OwYYJsoZY-1KHidi1Hl7z4yjk5FKxDcXclJ_750s5iuX7MsfHx0M_DgLzaIp8GuGE88jklvw_v9xDRMoJr2H6i1tZtuR5Zp9z4kE-X8S2slt2KA3TbRDzb3y468Dyevxv05Jj8vnUxJ2qkyA-Cb5ivjZhpcGr9cSMp1M0xBYDZv3zKAChJpxZwzy-0RztkAcqWygnfdaGfAJNCSAnsy8BTi08-SFyhVVB0_jYKuQPtYvDoJF-shVBWOg34LLCRJ9jlcsA5_7LkZMSo4ixeQlhRBu-OJkPclARS7ADZ_uLcc6oQAAAAGUZPvYAA

