API_ID= 25290115
API_HASH= bf26c3b91fe2f640d81de95db56dc5bf
BOT_TOKEN= 6858692873:AAE2bT1z3tnBEKRhFigCUPfb5nvcyNuK8No
LOGGER_ID= -1002136795173
MONGO_DB_URI= mongodb+srv://Vicky123:Vicky123@cluster0.qznmdso.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
OWNER_ID= 6828153648
STRING_SESSION= BQGB5YMAS4KS5JW__OKSeDnlWx_5E6_faB067BlYGQg94MHoCbSnGAlxw_C92Gd5IOEtBFdQfxn_l54e9w5CrGMm_1qr-N-3mWaQkvT0-XgSBoThgGljIOMzjG_pf_rXPZ5KKnXCnyBIC2zlVK_jb3PKVSs9HEoXfNwrodYT3KkJm66RHAl8IrBzGDvGa0RuyPmURCJgflR9MkYTrF0jcbkcP_W9OWQdQhYm34OF4zbdvDypq47OZLEEgnH9NTbQY9z43D_gul4cjtoCVaFfIjb3Y8lHqt4dJ4pvg5oAAyvXR_oRJdMlhWY0D_KGowizOzzfsNtnbOOLi_g_SNbvqG-kWci6UQAAAAF_SgV8AA

